
a:link {
	color: #6D7D68;
	text-decoration: none;
}
a:visited {
	color: #A4B09F;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

h1 {
	font-size: 17px;
	color: #9EAB9B;
	text-transform: uppercase;
}
